<div class="row">
    <form class="col s12 new-blog-form">
        <div class="row form-container">
            <h1 class="form-header">Create a New Blog</h1>
            <div class="input-field col s12">
                <input id="blog-title" type="text" data-id="{{id}}" required="required" value="{{title}}" placeholder="Enter Blog Title">
            </div>
            <div class="input-field col s12 materialize-textarea">
                <textarea id="blog-content" data-id="{{id}}" col="40" required="required"  placeholder="Enter Blog Content">{{description}}</textarea>
            </div>
            <div class="col s12 center">
                <button id="save-btn" type="submit" class="btn-large save-btn">Save</button>
                <button id="delete-btn" type="submit" class="delete-btn btn-large">Delete</button>
            </div>
        </div>
    </form>
</div>