{{!-- This is the main template for the webpage --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
    <!-- Materialize Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Google Fonts Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <!-- My Style Sheets -->
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
      <li><a href='/'> Home </a></li>
      <li><a href='/dashboard'> Dashboard </a></li>
      <li><a href='/login'> Login </a></li>
      <li><a href='/register'> Register </a></li>
      <li><a href='/blogs/new'> Create a Blog </a></li>
      <li><a href='/blogs/edit/:id'> Edit a Blog </a></li>

        {{!-- <div class="nav-wrapper custom-nav">
            <a href="/" class="brand-logo" id="tech-blog-logo">Tech Blog</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Conditionally render login or logout links -->
            {{#if logged_in}}
            <li><a href="/">Home</a></li>
            <li><a href="/create">Create a Post</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
            </ul>
        </div> --}}
    </nav>
    <main>

      <!-- Render the sub layout -->
      {{{ body }}}

    </main>

  <!-- Render script for logged in users only -->
  {{!-- {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

{{!-- <script
  href=''>
</script> --}}
</html>
