<h1>Blog Create</h1>

{{> blogForm}}
{{!-- This is the form to create a new blog post --}}
{{!-- <div class="row">
    <form class="col s12 form-container new-blog-form">
    <div class="row">
        <div class="input-field col s6">
            <input id="blogTitle" type="text" class="validate">
            <label class="active" for="blogTitle">Title:</label>
        </div>
        <div class="input-field col s12">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label class="active" for="textarea1">Type Your Post Here:</label>
        </div>
    </div>
    <button class="btn custom-btn">Add Post</button>
    </form>
</div> --}}