{{!-- This will display all of current posted blogs --}}
<div class="row">
    <div class="col s12">
        <div class="card custom-card">
            <div class="card-content custom-card-content white-text">
                <div class="card-title custom-card-title">
                    <a href="#">
                    <h2>Why is MVC so important?</h2>
                    </a>
                    <p>Posted by AmandaC0022 on 9/24/2021</p>
                </div>
            <p>MVC allows developers to maintain a true separation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.</p>
            </div>
        </div>
    </div>
</div>