<h1>Login</h1>

{{!-- This is the login page --}}
<div class="row">
    <form class="col s12 login-form">
        <div class="row form-container">
            <h1 class="login-header">Login</h1>
            <div class="input-field col s12">
                <input id="email-login" type="email" placeholder="Email">
            </div>
            <div class="input-field col s12">
                <input id="password-login" type="password" placeholder="Password">
            </div>
            <div class="col s12 center">
                <button type="submit" class="btn-large login-btn">Login</button>
            </div>
            <div>
                <a href="/register" class="col s12 sign-up">Sign Up Here</a>
            </div>
        </div>
    </form>
</div>