{{!-- This is the form to signup --}}
<form  id="signup-form" class="col s12">
    <div class="form-container">
        <h1 class="form-header">Sign Up</h1>
        <div class="input-field col s12">
            <input id="user-name-signup" type="text" required="required" placeholder="Enter Your User Name">
        </div>
        <div class="input-field col s12">
            <input id="user-email-signup" type="email" required="required
            " placeholder="Enter Your Email Address">
            <p class="email-message">Don't worry we won't share your email with anyone.</p>
        </div>
        <div class="input-field col s12">
            <input id="user-password-signup" type="text" required="required" placeholder="Enter Your Password">
        </div>
        <div class="input-field col s12">
            <input id="user-password-confirm" type="text" required="required" placeholder="Confirm Your Password">
        </div>
        <div class="col s12 center">
            <button name="submit" type="submit" class="btn-large save-btn">Sign Up</button>
        </div>
    </div>
</form>

