<h1>Register here</h1>

{{!-- This is the form to signup --}}
<div class="row">
    <form class="col s12 login-form">
        <div class="row form-container">
            <h1 class="login-header">Sign Up</h1>
            <div class="input-field col s12">
                <input id="name-signup" type="email" placeholder="Name">
            </div>
            <div class="input-field col s12">
                <input id="email-signup" type="email" placeholder="Email">
            </div>
            <div class="input-field col s12">
                <input id="password-signup" type="password" placeholder="Password">
            </div>
            <div class="col s12 center">
                <button type="submit" class="btn-large login-btn">Sign Up</button>
            </div>
        </div>
    </form>
</div>