:root {
    --dark:#1B0D33; 
    --cherry:#C93120; 
    --orange:#ED6921; 
    --lime:#E6D53F; 
    --blue:#16D6F7; 
    --round: 25px; 
}
main {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}
* {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px;
    background-color: var(--dark);
}

/* Nav Bar */
#tech-blog-logo {
    font-size: 2.5em;
}
#tech-blog-logo:hover {
    color: var(--blue); 
}
.custom-nav {
    background-color: var(--lime);
}
.custom-nav li a{
    background-color: var(--lime); 
    font-size: 1.25em; 
}
.custom-nav li a:hover {
    color: var(--blue); 
}

/* Login Page */
.form-container { 
    color: var(--orange); 
    border: 2px solid var(--lime); 
    align-self: center;
    border-radius: var(--round); 
    padding: var(--round); 
    color: var(--orange); 
    margin-top: 50px;
}
input {
    color: var(--orange); 
}
::placeholder{
    color: var(--orange); 
}
.sign-up {
    color: var(--blue); 
}
.sign-up:hover {
    color: var(--orange); 
}
.login-btn {
    background-color: var(--blue); 
    border-radius: var(--round);
}
.login-btn:hover {
    background-color: var(--orange); 
    color: white; 
}
.login-header {
    color: var(--blue); 
}

/* Blog Page */
.custom-card {
    border: 2px solid var(--lime); 
    background-color: var(--dark);
    border-radius: var(--round);
    padding: 10px; 
    margin: 20px; 
}
.custom-card-title h2 {
    color: var(--orange);
    font-size: 2em;
}
.custom-card-title p {
    color: var(--blue);
}
.custom-card-content p{
    font-family: sans-serif; 
}