:root {
    --dark:#1B0D33; 
    --cherry:#C93120; 
    --orange:#ED6921; 
    --yellow:#E6D53F; 
    --blue:#16D6F7; 
}

* {
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 16px;
}

#tech-blog-logo {
    font-size: 2.5em;

}